body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
}

.form-select{
  width: 40%;
}
.d-flex{
  margin: 5px;
}

tr a{
  text-decoration: none;
}
.team{
  width: 300px;
}

.navbar-nav a{
  color: white !important;
  padding-right: 200px !important;
}